.loading{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    >h3{
        display: block;
        margin-left: 15px;
        text-align: center;
        width: 100%;
    }
}